body {
    background-color: rgb(224, 227, 230);

    width: 80vw;
    max-width: 100%;
    margin: 0 auto;
    
    box-sizing: content-box;
}

header, footer {
    background-color: deeppink;
    /* height: 20vh; */
}

.headerContainer {
    background-color: rgb(59, 153, 235);

    height: 100%;
    margin: auto;

    font-size: 1.5em;
    padding: 0 0.5em 0;

    display: inline-block;

    

    /* position: absolute;
    left: 0.2rem;
    top: 0.2rem; */
}

.navbarULContainer {
    background-color: rgb(20, 142, 142);
    list-style-type: none;
    display: inline-block;

    font-size: 1.5em;
    padding: 0 0.5em 0;

    /* position: absolute;
    right: 0.2rem;
    bottom: 0.2rem; */
}

.navbarULContainer > li {
    text-decoration: none;
    display: inline-block;
}

.navLink {
    background-color: rgb(128, 36, 128);
}

.navLine {
    background-color: rgb(43, 117, 75);
}

.gridMainContainer {
    background-color: rgb(170, 140, 65);

    /* color: inherit; */
}

.introSectionContainer {
    background-color: rgb(126, 255, 190);

    padding: 1rem; 

    /* color: inherit; */
}

.gallerySectionContainer {
    background-color: rgb(1, 33, 61);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

    /* color: inherit; */
}

.gallerySideColumn {
    background-color: lightgoldenrodyellow;

    height: 80vh;
    overflow: hidden;

    grid-column: 1 / span 3;
}

.gallerySideColumn img {
    height: 20vh;
    width: 90%;

    margin: auto;
}

.gallerySideColumn p {
    position: absolute;
    bottom: 1px;
}

.gallerymainContainer {
    background-color: darksalmon;
    
    height: 80vh;

    grid-column: 4 / span 9;

}

.gallerymainContainer img {
    object-fit: cover;
    display: block;

    height: 100%;
    width: 100%;
}

.eventsSectionContainer {
    background-color: rgb(42, 157, 100);

    border-style: outset;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgb(158, 40, 19);
}

.eventHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image06.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    padding: 1rem;   

    color: azure;
}

.eventHeader > h2 {
    font-size: 6em;
}

.eventText {
    padding: 1rem;

    border-style: inset;
    border-width: 2px 0px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.coffeeDefinitionSectionContainer {
    background-color: rgb(107, 177, 239);

    width: 100%;
}

.coffeeHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://picsum.photos/300");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    padding: 1rem;   

    color: azure;
}

.coffeeHeader > h2 {
    font-size: 6em;
}

.facSectionContainer {
    background-color: rgb(164, 179, 38);

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    align-content: center;

    width: 100%;
}

.facIntroContainer {
    background-color: aliceblue;

    display: inline-block;

    width: 100%;

    padding: 1em;

    border-style: outset;
    border-radius: 2px;
    border-width: 1px;
    border-color: chartreuse;
}

.facItemContainer {
    background-color: lemonchiffon;

    display: inline-block;

    width: 30%;
    margin: 0.5rem;
    padding: 0.5em;

    border-style: outset;
    border-radius: 2px;
    border-width: 1px;
    border-color: chartreuse;
}

.coffeequizSectionContainer {
    background-color: rgb(143, 54, 27);

    width: 100%;

    padding: 1em;
}

.testimonialSectionContainer {
    background-color: rgb(139, 21, 21); 

    width: 100%;

    padding: 1em;
}

.textimonialItem {
    background-color: rgb(204, 22, 22);

    width: 80%;
    margin: 3% auto;
    /* margin-top: 5%;
    margin-bottom: 5%; */

    padding: 1em;

    border-style: outset;
    border-radius: 2px;
    border-width: 1px;
    border-color: chartreuse;
}

.triptychSectionContainer {
    background-color: rgb(99, 87, 229);

    display: flex;
    flex-direction: row;

    width: 100%;
}

.textLeft, .textRight {
    background-color: rgb(231, 230, 235);

    width: 25%;
    padding: 1rem;
}

.imgCenter {
    background-color: rgb(175, 173, 199);

    width: 50%;
}

.footerContainer {
    background-color: rgb(235, 97, 173);

    width: 100%;
}