body {
    background-color: red;

    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    box-sizing: content-box;
}

header, footer {
    background-color: deeppink;
    /* height: 20vh; */
}

.headerContainer {
    background-color: rgb(59, 153, 235);

    height: 100%;
    margin: auto;

    font-size: 1.5em;
    padding: 0 0.5em 0;

    display: inline-block;

    

    /* position: absolute;
    left: 0.2rem;
    top: 0.2rem; */
}

.navbarULContainer {
    background-color: rgb(20, 142, 142);
    list-style-type: none;
    display: inline-block;

    font-size: 1.5em;
    padding: 0 0.5em 0;

    /* position: absolute;
    right: 0.2rem;
    bottom: 0.2rem; */
}

.navbarULContainer > li {
    text-decoration: none;
    display: inline-block;
}

/* .navLink {
    background-color: rgb(128, 36, 128);
} */

/* .navLine {
    background-color: rgb(43, 117, 75);
} */

.flexMainContainer {
    background-color: darkslategray;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    align-content: center;

    width: 100%;
}

.menuIntroContainer {
    background-color: aliceblue;

    display: inline-block;

    /* width: 100%; */

    padding: 1em;

    border-style: outset;
    border-radius: 2px;
    border-width: 1px;
    border-color: chartreuse;
}

.menuSectionIntroContainer {
    background-color: rgb(96, 172, 239);

    padding: 1em;
}

.menuItemContainer {
    background-color: lemonchiffon;

    display: inline-block;

    width: 30%;
    margin: 1rem;

    padding: 0.4em;

    text-wrap: wrap;

    border-style: outset;
    border-radius: 2px;
    border-width: 1px;
    border-color: chartreuse;
}

.hidden {
    display: none;
}